@model Blog.Models.AnchorModel

@{
    var routeData = new Dictionary<string, string>();
    routeData.Add(Model.RouteIdParameterName, Model.RouteId?.ToString());
}

@if (Model.IsShown)
{
    @if (Model.Controller != null)
    {
        <span>| <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-all-route-data=routeData>@Model.Text</a></span>
    }
    else
    {
        if (Model.Handler == null)
        {
            <span>| <a asp-page="@Model.Page" asp-all-route-data=routeData>@Model.Text</a></span>
        }
        else
        {
            <span>| <a asp-page="@Model.Page" asp-page-handler="@Model.Handler" asp-all-route-data=routeData>@Model.Text</a></span>
        }
    }
}