@model CommentaryModel

<h4>
    <a asp-page="/Account/Profile" asp-route-id="@Model.Commentary.Author.Id">@Model.Commentary.Author.UserName</a> - @Model.Commentary.CreationTime.ToString("hh:mm dd.MM.yyyy")
    @if (await Model.Permissions.CanEditCommentaryAsync(Model.Commentary))
    {
        <button class="commentary-edit-button">Edit</button>
    }
    @await Html.PartialAsync("_Anchor", AnchorModel.ToController("Report", nameof(ReportingController), nameof(ReportingController.ReportCommentaryAsync), "id", Model.Commentary.Id, await Model.Permissions.CanReportAsync(Model.Commentary)))
</h4>

@await Html.PartialAsync("_ProfileImage", Model.Commentary.Author)
@Model.Commentary.Body
@foreach (var edit in Model.Commentary.Edits)
{
    <div>
        <span>Edited at @edit.EditTime.ToString("hh:mm dd.MM.yy") by <a asp-page="/Account/Profile" asp-route-id="@edit.EditAuthor.Id">@edit.EditAuthor.UserName</a></span>
        @if (edit.Reason.IsNotNullOrWhiteSpace())
        {
            <span>Reason: @edit.Reason</span>
        }
    </div>
}