@model IEntityToCheck

@{
    var dT = DateTime.UtcNow - Model.AddTime;
}

@if (Model.IsResolved)
{
    <span>
        Resolved @((DateTime.UtcNow - Model.ResolvingTime.Value).ToCurrentTimeRelativeString()), added @dT.ToCurrentTimeRelativeString(), check reason: @Model.CheckReason, check object:
        @{ await Html.RenderPartialAsync("_ObjectReference", new ObjectReferenceModel(Model.Entity)); }
    </span>
}
else
{
    <span>
        Added @dT.ToCurrentTimeRelativeString(), check reason: @Model.CheckReason, check object:
        @{ await Html.RenderPartialAsync("_ObjectReference", new ObjectReferenceModel(Model.Entity)); }
    </span>
}
