@page
@model Blog.Pages.Account.ProfileModel
@{
    ViewData["Title"] = User.Identity.Name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Profile information</h3>

<div>@("Name: " + Model.UserModel.Nickname)</div>
<div>@("E-Mail: " + Model.UserModel.EMail)</div>
<div>@("Role: " + Model.UserModel.Role.GetRoleName())</div>
<div>@("Registration date: " + Model.UserModel.RegistrationDate.ToString("dd.MM.yyyy"))</div>

<h3>Posts</h3>

@foreach (var post in Model.UserModel.Posts)
{
    <div><a asp-page="/Post" asp-route-id="@post.Id">@post.Title</a></div>
}
