@page
@model Blog.Pages.Account.ProfileModel
@{
    ViewData["Title"] = User.Identity.Name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>Profile information</h3>

<div>@("Name: " + Model.Username)</div>
<div>@("E-Mail: " + Model.EMail)</div>
<div>@("Registration date: " + Model.RegistrationDate.ToString("dd.MM.yyyy"))</div>

<h3>Posts</h3>

@foreach (var post in Model.Posts)
{
    <a asp-page="/Post" asp-route-id="@post.Id">@post.Title</a>
}
