@page
@model Blog.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}

@if (User.IsInOneOfTheRoles(Roles.NOT_RESTRICTED))
{
    <span>You can <a asp-page="\PostCreate">create</a> your own post!</span>
    <hr />
}

<h3>Posts count: @Model.Posts.Count()</h3>

@foreach (var post in Model.Posts)
{
    <div>
        <a asp-page="/Post" asp-route-id="@post.Id">@post.Title</a>
        <a asp-page="/Account/Profile" asp-route-id="@post.Author.Id">@post.Author.UserName</a>
        @post.CreationTime.ToString("dd.MM.yyyy")

        @{ var maxViewSize = 500; }
        @post.Body.Take(maxViewSize).Concat(post.Body.Length > maxViewSize ? "..." : "").AsString()
    </div>
}