@page
@model Blog.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}

@if (Roles.NOT_RESTRICTED.Split(",").Any(User.IsInRole))
{
    <span>You can <a asp-page="\PostCreate">create</a> your own post!</span>
    <hr />
}

<h3>Posts count: @Model.Posts.Count()</h3>

@foreach (var post in Model.Posts)
{
    <table>
        <tr>
            <td>
                <a asp-page="./Post" asp-route-id="@post.Id">@post.Title</a>
            </td>
            <td>@post.Author.UserName</td>
            <td>@post.Date.ToString("dd.MM.yyyy")</td>
        </tr>
    </table>

    @post.Body.Take(200).Concat("...").AsString();
}