@page "{id:int}"
@model Blog.Pages.PostModel
@using DBModels

@{
    ViewData["Title"] = Model.Post.Title;
}

    <h2>
        @Model.Post.Title
        @await Html.PartialAsync("_Anchor", new AnchorModel("Edit", "/PostCreate", "editingpostid", Model.Post.Id, await Model.Permissions.CanEditPostAsync(Model.Post)))
        @await Html.PartialAsync("_Anchor", AnchorModel.ToController("Report", nameof(ReportingController), nameof(ReportingController.ReportPostAsync), "id", Model.Post.Id, await Model.Permissions.CanReportAsync(Model.Post)))
    </h2>

@Model.Post.Body

@foreach (var edit in Model.Post.Edits.NullToEmpty())
{
    <div>
        <span>Edited at @edit.EditTime.ToString("hh:mm dd.MM.yy") by <a asp-page="/Account/Profile" asp-route-id="@edit.EditAuthor.Id">@edit.EditAuthor.UserName</a></span>
        <span>Reason: @edit.Reason</span>
    </div>
}

<hr />
<h3>Commentaries</h3>

@foreach (var commentary in Model.Commentaries)
{
    @await Html.PartialAsync("_CommentaryContainer", commentary);
}

@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-page-handler="AddCommentary">
        <input type="hidden" name="postId" value="@Model.Post.Id" />
        <textarea name="commentBody" rows="3" placeholder="Your comment"></textarea>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <button type="submit">Send</button>
    </form>
}
else
{
    <a asp-page="/Account/Login">Login</a>
    <span> or </span>
    <a asp-page="/Account/Register">register</a>
    <span> to comment</span>
}

@section Scripts {
    <partial name="_CommentartyScripts" />
}